{% extends 'bank.html.twig' %}

{% block master_header %}
    <h1>MDL счет</h1>
{% endblock %}

{% block page_content %}
    <ul class="bank-details__list">
        <li><b>Получатель:</b> {{ banks.mdl.name }}</li>
        <li><b>Страна:</b> {{ banks.mdl.country }}</li>
        <li><b>Город:</b> {{ banks.mdl.city }}</li>
        <li><b>Банк:</b> {{ banks.mdl.bank }}</li>
        <li><b>IBAN:</b> {{ banks.mdl.iban }}</li>
        <li><b>BIC:</b> {{ banks.mdl.bic }}</li>
        <li><b>idno:</b> {{ banks.mdl.idno }}</li>
    </ul>
{% endblock %}
