{% extends 'bank.html.twig' %}

{% block master_header %}
    <h1><i class="fa fa-usd"></i> USD</h1>
{% endblock %}

{% block page_content %}
    <ul class="bank-details__list">
        <li><b>Получатель:</b> {{ banks.usd.name }}</li>
        <li><b>Страна:</b> {{ banks.usd.country }}</li>
        <li><b>Город:</b> {{ banks.usd.city }}</li>
        <li><b>Банк:</b> {{ banks.usd.bank }}</li>
        <li><b>Банк корреспондент:</b> {{ banks.eur.correspondent_bank }}</li>
        <li><b>IBAN:</b> {{ banks.usd.iban }}</li>
        <li><b>BIC:</b> {{ banks.usd.bic }}</li>
    </ul>
{% endblock %}
