{% extends 'layout.html.twig' %}

{% set pageTitle = 'Спасём Рому' %}

{% block nav_links %}
    <li><a href="/{{ lang }}/about.html" class="internal about">О Нас</a></li>
    <li><a href="/{{ lang }}/social.html" class="internal social">Социальные сети</a></li>
    <li><a href="/{{ lang }}/banks.html" class="internal banks">Банки</a></li>
    <li><a href="/{{ lang }}/fundraising.html" class="internal fundraising">Generosity</a></li>
    <li><a href="/{{ lang }}/paypal.html" class="internal paypal">PayPal</a></li>
{% endblock %}
