{% extends 'layout.html.twig' %}

{% block nav_links %}
    <li><a href="/{{ lang }}/about.html" class="internal">О Роме</a></li>
    <li><a href="/{{ lang }}/social.html" class="internal">Social</a></li>
    <li><a href="/{{ lang }}/banks.html" class="internal">Банки</a></li>
    <li><a href="/{{ lang }}/fundraising.html" class="internal">Indiegogo</a></li>
    <li><a href="/{{ lang }}/paypal.html" class="internal">PayPal</a></li>
{% endblock %}
