<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="theme-color" content="#6387F5">
    <link rel="icon" href="/static/images/icons/heart@256.png">

    <link rel="manifest" href="{{ 'manifest.json'|add_hash }}">
    <title>Save Roma</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">



    <link href="{{ 'styles/main.css'|add_hash }}" rel="stylesheet">
    <script src="{{ 'scripts/main.js'|add_hash }}"></script>
</head>
<body class="color-{{ currentPage }}">
<header class="header">
    <div class="content">
        <div class="menu">
            <input id="menu__toggle" type="checkbox" class="menu__toggle">
            <label for="menu__toggle" class="menu__toggle-label">
                <i class="fa fa-bars fa-2x"></i>
            </label>
            <div class="menu__underlay"></div>
            <nav>
                <ul>
                    {% block nav_links %}
                    {% endblock %}
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="master-header">
    {% block master_header %}
    {% endblock %}
</div>

<section class="page-content">

    <div class="page-content__header">
        <ul class="lang-switcher">
            {#<li><a href="/ro/{{ currentPage }}.html">Română</a></li>#}
            <li><a href="/ru/{{ currentPage }}.html">Русский</a></li>
            <li><a href="/en/{{ currentPage }}.html">English</a></li>
        </ul>

        {% block page_content_back %}
        {% endblock %}
    </div>


    {% block page_content %}
    {% endblock %}
</section>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-87684133-1', 'auto');
    ga('send', 'pageview');
</script>


</body>
</html>
