<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0">
    <meta name="theme-color" content="#6387F5">
    <link rel="icon" href="/static/images/icons/heart@256.png">
    <link rel="manifest" href="{{ 'manifest.json'|add_hash }}">
    <title>Save Roma</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ 'styles/main.css'|add_hash }}" rel="stylesheet">
    <script src="{{ 'scripts/main.js'|add_hash }}"></script>
</head>
<body>
<header class="header">
    <div class="content">
        <div class="menu">
            <nav>
                <ul>
                    {% block nav_links %}
                    {% endblock %}
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="master-header">
    {% block master_header %}
    {% endblock %}
</div>

<section class="page-content">

    <div class="page-content__header">
        <ul class="lang-switcher">
            {#<li><a href="/ro/{{ currentPage }}.html">Română</a></li>#}
            <li><a href="/en/{{ currentPage }}.html">English</a></li>
            <li><a href="/ru/{{ currentPage }}.html">Русский</a></li>
        </ul>

        {% block page_content_back %}
        {% endblock %}
    </div>


    {% block page_content %}
    {% endblock %}
</section>



</body>
</html>
